{% extends "base.html" %}

{% block title %}Enter Date of Birth and Gender{% endblock %}

{% block content %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
         /* Default ocean blue background */
        transition: background-color 0.3s ease; /* Smooth transition for color change */
    }
    body:hover, html:hover {
        /* Darker ocean blue on hover */
    }
    .center-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .center-content h1 {
        color: white;
    }
    .description {
        color: white;
        font-size: 1.3em;
        margin-top: 10px;
        font-style: italic;
    }
    .important-note {
        color: white;
        font-size: 1.1em;
        margin-top: 20px;
    }
    .custom-input {
        display: flex;
        align-items: center;
        margin-top: 30px; /* Increase margin from top */
    }
    .custom-input input {
        height: 40px;
        padding: 0 15px;
        border-radius: 10px; /* Updated border radius */
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        box-sizing: border-box;
        font-size: 1em;
        text-align: center;
        flex-grow: 1; /* Allow input to grow */
        margin-right: 20px; /* Add right margin */
    }
    .gender-button {
        height: 40px;
        padding: 0 20px;
        border-radius: 10px; /* Updated border radius */
        font-size: 1.1em;
        cursor: pointer;
        background-color: #cc7722; /* Button color */
        color: white;
        border: 1px solid white; /* White border */
        transition: background-color 0.3s ease;
    }
    .gender-button:hover {
        background-color: #aa5511; /* Darker button color on hover */
    }
    .small-text {
        margin-top: 10px;
    }
    .restriction-text {
        color: white;
        font-size: 0.8em;
    }
</style>
<div class="center-content">
    <h1><b>Welcome to the world of <br>Astrology and Guys</b></h1>
    <p class="description"><em>Enter your date of birth to start exploring.</em></p>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="custom-input">
            <input type="text" id="dob" name="dob" placeholder="(DD/MM/YYYY)" required>
            <button type="submit" class="gender-button on-button-hover-gay" name="gender" value="1">Enter</button>
        </div>
    </form>
    <div class="small-text">
        <small class="restriction-text">If you are not 18+, access will be restricted.</small>
    </div>
</div>
{% endblock %}
